<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="m-stack m-stack--hor m-stack--general m-stack--demo">
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("FULL_NAME")}} :</h6>
                        {{item.staff.fulL_NAME}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("gender")}} :</h6>
                        {{item.staff.gender}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("workMobile")}} :</h6>
                        {{item.staff.workMobile}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("jobTitle")}} :</h6>
                        {{item.staff.jobTitle}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("profession")}} :</h6>
                        {{item.staff.profession}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("PHONE")}} :</h6>
                        {{item.staff.phone}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("MOBILE")}} :</h6>
                        {{item.staff.mobile}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("POSISTION")}} :</h6>
                        {{item.staff.posistion}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("EMPLOYMENT_TYPE")}} :</h6>
                        {{item.staff.employmenT_TYPE}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("PROJECT_ID")}} :</h6>
                        {{item.staff.projecT_ID}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("DOB")}} :</h6>
                        {{item.staff.dob}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("DOE")}} :</h6>
                        {{item.staff.doe}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("LOGIN_NAME")}} :</h6>
                        {{item.staff.logiN_NAME}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("LOGIN_PASS")}} :</h6>
                        {{item.staff.logiN_PASS}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("IS_ACTIVE")}} :</h6>
                        {{item.staff.iS_ACTIVE}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("Roles")}} :</h6>
                        {{item.staff.roles}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("email")}} :</h6>
                        {{item.staff.email}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("skype")}} :</h6>
                        {{item.staff.skype}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("personalIM")}} :</h6>
                        {{item.staff.personalIM}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("homeFax")}} :</h6>
                        {{item.staff.homeFax}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("homePhone")}} :</h6>
                        {{item.staff.homePhone}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("address")}} :</h6>
                        {{item.staff.address}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("postalCode")}} :</h6>
                        {{item.staff.postalCode}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("workExtension")}} :</h6>
                        {{item.staff.workExtension}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("lastUpdated")}} :</h6>
                        {{item.staff.lastUpdated}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("EmployeestartDate")}} :</h6>
                        {{item.staff.employeestartDate}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("Cost")}} :</h6>
                        {{item.staff.cost}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TimsheetCheckByEmp")}} :</h6>
                        {{item.staff.timsheetCheckByEmp}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("autoranID")}} :</h6>
                        {{item.staff.autoranID}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("ISDriver")}} :</h6>
                        {{item.staff.isDriver}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("X")}} :</h6>
                        {{item.staff.x}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("Y")}} :</h6>
                        {{item.staff.y}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("Day")}} :</h6>
                        {{item.staff.day}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("DisplayOrder")}} :</h6>
                        {{item.staff.displayOrder}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("IsStop")}} :</h6>
                        {{item.staff.isStop}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("autoranIDServer")}} :</h6>
                        {{item.staff.autoranIDServer}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("IDNumber")}} :</h6>
                        {{item.staff.idNumber}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("KlushNo")}} :</h6>
                        {{item.staff.klushNo}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("welfareClockId")}} :</h6>
                        {{item.staff.welfareClockId}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>

                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>({{l("Department")}}) {{l("DepartmentName")}} :</h6>
                        {{item.departmentDepartmentName}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>({{l("OrganizationUnit")}}) {{l("DisplayName")}} :</h6>
                        {{item.organizationUnitDisplayName}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>({{l("Staff")}}) {{l("FULL_NAME")}} :</h6>
                        {{item.staffFULL_NAME}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>

                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
