<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #stationForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="station.id">{{l("EditStation")}}</span>
                        <span *ngIf="!station.id">{{l("CreateNewStation")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="Station_LocationName">{{l("LocationName")}}</label>
									<input type="text" id="Station_LocationName" class="form-control" [(ngModel)]="station.locationName" name="LocationName"    />
								</div>
					
								<div class="form-group">
									<label for="Station_Latitude">{{l("Latitude")}}</label>
									<input type="number" id="Station_Latitude" class="form-control" [(ngModel)]="station.latitude" name="Latitude"  />
								</div>
					
								<div class="form-group">
									<label for="Station_Longitude">{{l("Longitude")}}</label>
									<input type="number" id="Station_Longitude" class="form-control" [(ngModel)]="station.longitude" name="Longitude"  />
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="Station_IsStop" class="m-checkbox">
										<input id="Station_IsStop" type="checkbox" name="IsStop" [(ngModel)]="station.isStop"> 
										{{l("IsStop")}}
										<span></span>
									</label>
								</div>
					
								<div class="form-group">
									<label for="Station_StationCode">{{l("StationCode")}}</label>
									<input type="number" id="Station_StationCode" class="form-control" [(ngModel)]="station.stationCode" name="StationCode"  />
								</div>
					
								<div class="form-group">
									<label for="Station_LocationNameHebrew">{{l("LocationNameHebrew")}}</label>
									<input type="text" id="Station_LocationNameHebrew" class="form-control" [(ngModel)]="station.locationNameHebrew" name="LocationNameHebrew"    />
								</div>
					
								<div class="form-group">
									<label for="Station_Type">{{l("Type")}}</label>
									<input type="text" id="Station_Type" class="form-control" [(ngModel)]="station.type" name="Type"    />
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="Station_isMark" class="m-checkbox">
										<input id="Station_isMark" type="checkbox" name="isMark" [(ngModel)]="station.isMark"> 
										{{l("isMark")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="Station_IsSave" class="m-checkbox">
										<input id="Station_IsSave" type="checkbox" name="IsSave" [(ngModel)]="station.isSave"> 
										{{l("IsSave")}}
										<span></span>
									</label>
								</div>
					
								<div class="form-group">
									<label for="Station_checkDistance">{{l("checkDistance")}}</label>
									<input type="number" id="Station_checkDistance" class="form-control" [(ngModel)]="station.checkDistance" name="checkDistance"  />
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="Station_IsPath" class="m-checkbox">
										<input id="Station_IsPath" type="checkbox" name="IsPath" [(ngModel)]="station.isPath"> 
										{{l("IsPath")}}
										<span></span>
									</label>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!stationForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>