<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="m-stack m-stack--hor m-stack--general m-stack--demo">
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TripIDGTFS")}} :</h6>
                        {{item.viwTripPlanedDaily.tripIDGTFS}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TrpPlanBusNumber")}} :</h6>
                        {{item.viwTripPlanedDaily.trpPlanBusNumber}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TrpPlanCalnderID")}} :</h6>
                        {{item.viwTripPlanedDaily.trpPlanCalnderID}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TrpPlanStartTime")}} :</h6>
                        {{item.viwTripPlanedDaily.trpPlanStartTime}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TrpPlanLineNumber")}} :</h6>
                        {{item.viwTripPlanedDaily.trpPlanLineNumber}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TrpPlanDirection")}} :</h6>
                        {{item.viwTripPlanedDaily.trpPlanDirection}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TrpPlanDriverName")}} :</h6>
                        {{item.viwTripPlanedDaily.trpPlanDriverName}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TripMinistryID")}} :</h6>
                        {{item.viwTripPlanedDaily.tripMinistryID}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TripMinistryLineNumber")}} :</h6>
                        {{item.viwTripPlanedDaily.tripMinistryLineNumber}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TripMinistryDirection")}} :</h6>
                        {{item.viwTripPlanedDaily.tripMinistryDirection}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TripMinistryCalenderID")}} :</h6>
                        {{item.viwTripPlanedDaily.tripMinistryCalenderID}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TripMinistryTimeSpan")}} :</h6>
                        {{item.viwTripPlanedDaily.tripMinistryTimeSpan}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TripMinistryMonday")}} :</h6>
                        {{item.viwTripPlanedDaily.tripMinistryMonday}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TripMinistryTuesday")}} :</h6>
                        {{item.viwTripPlanedDaily.tripMinistryTuesday}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TripMinistryWensday")}} :</h6>
                        {{item.viwTripPlanedDaily.tripMinistryWensday}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TripMinistryFriday")}} :</h6>
                        {{item.viwTripPlanedDaily.tripMinistryFriday}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TripMinistryThursday")}} :</h6>
                        {{item.viwTripPlanedDaily.tripMinistryThursday}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TripMinistrySaturday")}} :</h6>
                        {{item.viwTripPlanedDaily.tripMinistrySaturday}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TripMinistrySunday")}} :</h6>
                        {{item.viwTripPlanedDaily.tripMinistrySunday}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TripMinistryStart_date")}} :</h6>
                        {{item.viwTripPlanedDaily.tripMinistryStart_date}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TripMinistryRouteID")}} :</h6>
                        {{item.viwTripPlanedDaily.tripMinistryRouteID}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TrpPlanmonday")}} :</h6>
                        {{item.viwTripPlanedDaily.trpPlanmonday}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TrpPlanTuesday")}} :</h6>
                        {{item.viwTripPlanedDaily.trpPlanTuesday}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TrpPlanWensday")}} :</h6>
                        {{item.viwTripPlanedDaily.trpPlanWensday}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TrpPlanthursday")}} :</h6>
                        {{item.viwTripPlanedDaily.trpPlanthursday}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TrpPlanfriday")}} :</h6>
                        {{item.viwTripPlanedDaily.trpPlanfriday}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TrpPlansaturday")}} :</h6>
                        {{item.viwTripPlanedDaily.trpPlansaturday}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TrpPlansunday")}} :</h6>
                        {{item.viwTripPlanedDaily.trpPlansunday}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TrpPlanStart_date")}} :</h6>
                        {{item.viwTripPlanedDaily.trpPlanStart_date}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TrpPlanEnd_date")}} :</h6>
                        {{item.viwTripPlanedDaily.trpPlanEnd_date}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TrpPlanTaskNo")}} :</h6>
                        {{item.viwTripPlanedDaily.trpPlanTaskNo}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TripPlanedID")}} :</h6>
                        {{item.viwTripPlanedDaily.tripPlanedID}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("DriverIDPPlaned")}} :</h6>
                        {{item.viwTripPlanedDaily.driverIDPPlaned}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("BUSIDPlanlned")}} :</h6>
                        {{item.viwTripPlanedDaily.busidPlanlned}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TrpPlanISValid")}} :</h6>
                        {{item.viwTripPlanedDaily.trpPlanISValid}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TrpPlanEndTime")}} :</h6>
                        {{item.viwTripPlanedDaily.trpPlanEndTime}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("TrpPlanRouteID")}} :</h6>
                        {{item.viwTripPlanedDaily.trpPlanRouteID}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("Workingday")}} :</h6>
                        {{item.viwTripPlanedDaily.workingday}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("Autran")}} :</h6>
                        {{item.viwTripPlanedDaily.autran}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("StartLocationName")}} :</h6>
                        {{item.viwTripPlanedDaily.startLocationName}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("StartLocationNameHeb")}} :</h6>
                        {{item.viwTripPlanedDaily.startLocationNameHeb}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("StartLocationCode")}} :</h6>
                        {{item.viwTripPlanedDaily.startLocationCode}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("StartLocationLatitude")}} :</h6>
                        {{item.viwTripPlanedDaily.startLocationLatitude}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("StartLocationLongitude")}} :</h6>
                        {{item.viwTripPlanedDaily.startLocationLongitude}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("RouteTotalKM")}} :</h6>
                        {{item.viwTripPlanedDaily.routeTotalKM}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("RouteTotalMinutes")}} :</h6>
                        {{item.viwTripPlanedDaily.routeTotalMinutes}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("IsMinistry")}} :</h6>
                        {{item.viwTripPlanedDaily.isMinistry}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("BusID")}} :</h6>
                        {{item.viwTripPlanedDaily.busID}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("RouteIDGTFS")}} :</h6>
                        {{item.viwTripPlanedDaily.routeIDGTFS}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("ControlStartTime")}} :</h6>
                        {{item.viwTripPlanedDaily.controlStartTime}}
                    </div>
                    <div class="m-separator m-separator--dashed"></div>


                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
