<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #calenderBusForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="calenderBus.id">{{l("EditCalenderBus")}}</span>
                        <span *ngIf="!calenderBus.id">{{l("CreateNewCalenderBus")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<br/><div class="m-checkbox-list">
									<label for="CalenderBus_monday" class="kt-checkbox">
										<input id="CalenderBus_monday" #CalenderBus_monday="ngModel" type="checkbox" name="monday" [(ngModel)]="calenderBus.monday"> 
										{{l("monday")}}
										<span></span>
									</label>
									<validation-messages [formCtrl]="CalenderBus_monday"></validation-messages>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="CalenderBus_tuesday" class="kt-checkbox">
										<input id="CalenderBus_tuesday" #CalenderBus_tuesday="ngModel" type="checkbox" name="tuesday" [(ngModel)]="calenderBus.tuesday"> 
										{{l("tuesday")}}
										<span></span>
									</label>
									<validation-messages [formCtrl]="CalenderBus_tuesday"></validation-messages>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="CalenderBus_wednesday" class="kt-checkbox">
										<input id="CalenderBus_wednesday" #CalenderBus_wednesday="ngModel" type="checkbox" name="wednesday" [(ngModel)]="calenderBus.wednesday"> 
										{{l("wednesday")}}
										<span></span>
									</label>
									<validation-messages [formCtrl]="CalenderBus_wednesday"></validation-messages>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="CalenderBus_thursday" class="kt-checkbox">
										<input id="CalenderBus_thursday" #CalenderBus_thursday="ngModel" type="checkbox" name="thursday" [(ngModel)]="calenderBus.thursday"> 
										{{l("thursday")}}
										<span></span>
									</label>
									<validation-messages [formCtrl]="CalenderBus_thursday"></validation-messages>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="CalenderBus_friday" class="kt-checkbox">
										<input id="CalenderBus_friday" #CalenderBus_friday="ngModel" type="checkbox" name="friday" [(ngModel)]="calenderBus.friday"> 
										{{l("friday")}}
										<span></span>
									</label>
									<validation-messages [formCtrl]="CalenderBus_friday"></validation-messages>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="CalenderBus_saturday" class="kt-checkbox">
										<input id="CalenderBus_saturday" #CalenderBus_saturday="ngModel" type="checkbox" name="saturday" [(ngModel)]="calenderBus.saturday"> 
										{{l("saturday")}}
										<span></span>
									</label>
									<validation-messages [formCtrl]="CalenderBus_saturday"></validation-messages>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="CalenderBus_sunday" class="kt-checkbox">
										<input id="CalenderBus_sunday" #CalenderBus_sunday="ngModel" type="checkbox" name="sunday" [(ngModel)]="calenderBus.sunday"> 
										{{l("sunday")}}
										<span></span>
									</label>
									<validation-messages [formCtrl]="CalenderBus_sunday"></validation-messages>
								</div>
					
								<div class="form-group">
									<label for="CalenderBus_start_date">{{l("start_date")}}</label>
									 <input class="form-control m-input" #CalenderBus_start_date type="datetime" bsDatepicker [(ngModel)]="start_date" id="CalenderBus_start_date" name="CalenderBus_start_date">
									<validation-messages [formCtrl]="CalenderBus_start_date"></validation-messages>
								</div>
					
								<div class="form-group">
									<label for="CalenderBus_end_date">{{l("end_date")}}</label>
									 <input class="form-control m-input" #CalenderBus_end_date type="datetime" bsDatepicker [(ngModel)]="end_date" id="CalenderBus_end_date" name="CalenderBus_end_date">
									<validation-messages [formCtrl]="CalenderBus_end_date"></validation-messages>
								</div>
					
								<div class="form-group">
									<label for="CalenderBus_CalenderName">{{l("CalenderName")}} *</label>
									<input type="text" #CalenderBus_CalenderName="ngModel" id="CalenderBus_CalenderName" class="form-control" [(ngModel)]="calenderBus.calenderName" name="CalenderName"   minlength="4"  maxlength="250"  required/>
								    <validation-messages [formCtrl]="CalenderBus_CalenderName"></validation-messages>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!calenderBusForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>