<div [@routerTransition]>
  
  
  
                <div class="kt-subheader kt-grid__item">
                  
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
                            <span>{{l("Vehicles")}}</span>
                        </h3>
                        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                        <span class="kt-subheader__desc">
                            {{l("VehiclesHeaderInfo")}}
                        </span>
                    </div>
                    <div class="kt-subheader__toolbar">
                        <div class="kt-subheader__wrapper">
            				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.Vehicles.Create')" (click)="createVehicles()" 
            			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewVehicles")}}</button>
                        </div>
                    </div>
                  
                </div>
            
    
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getVehicles()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="kt-separator kt-separator--border-dashed"></div>
						     </div>


                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinInternalIDFilter">{{l("MinMax")}} {{l("InternalID")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinInternalIDFilter" [(ngModel)]="minInternalIDFilter" placeholder="{{l('MinValue')}}" name="minInternalIDFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxInternalIDFilter" placeholder="{{l('MaxValue')}}" name="maxInternalIDFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinVehicleNumberFilter">{{l("MinMax")}} {{l("VehicleNumber")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinVehicleNumberFilter" [(ngModel)]="minVehicleNumberFilter" placeholder="{{l('MinValue')}}" name="minVehicleNumberFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxVehicleNumberFilter" placeholder="{{l('MaxValue')}}" name="maxVehicleNumberFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinShortVehicleNumberFilter">{{l("MinMax")}} {{l("ShortVehicleNumber")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinShortVehicleNumberFilter" [(ngModel)]="minShortVehicleNumberFilter" placeholder="{{l('MinValue')}}" name="minShortVehicleNumberFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxShortVehicleNumberFilter" placeholder="{{l('MaxValue')}}" name="maxShortVehicleNumberFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinVehicleTypeFilter">{{l("MinMax")}} {{l("VehicleType")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinVehicleTypeFilter" [(ngModel)]="minVehicleTypeFilter" placeholder="{{l('MinValue')}}" name="minVehicleTypeFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxVehicleTypeFilter" placeholder="{{l('MaxValue')}}" name="maxVehicleTypeFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinStatusFilter">{{l("MinMax")}} {{l("Status")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinStatusFilter" [(ngModel)]="minStatusFilter" placeholder="{{l('MinValue')}}" name="minStatusFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxStatusFilter" placeholder="{{l('MaxValue')}}" name="maxStatusFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label  for="MinStatusDateFilter">{{l("StatusDateRange")}}</label>
									<div class="input-group">
                                        <input class="form-control m-input" id="MinStatusDateFilter" name="MinStatusDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minStatusDateFilter">
			                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxStatusDateFilter" name="MaxStatusDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxStatusDateFilter">
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinParkingFilter">{{l("MinMax")}} {{l("Parking")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinParkingFilter" [(ngModel)]="minParkingFilter" placeholder="{{l('MinValue')}}" name="minParkingFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxParkingFilter" placeholder="{{l('MaxValue')}}" name="maxParkingFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinGarageFilter">{{l("MinMax")}} {{l("Garage")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinGarageFilter" [(ngModel)]="minGarageFilter" placeholder="{{l('MinValue')}}" name="minGarageFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxGarageFilter" placeholder="{{l('MaxValue')}}" name="maxGarageFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinKMFilter">{{l("MinMax")}} {{l("KM")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinKMFilter" [(ngModel)]="minKMFilter" placeholder="{{l('MinValue')}}" name="minKMFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxKMFilter" placeholder="{{l('MaxValue')}}" name="maxKMFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label  for="MinTestDateFilter">{{l("TestDateRange")}}</label>
									<div class="input-group">
                                        <input class="form-control m-input" id="MinTestDateFilter" name="MinTestDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minTestDateFilter">
			                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxTestDateFilter" name="MaxTestDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxTestDateFilter">
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label  for="MinInsuranceDateFilter">{{l("InsuranceDateRange")}}</label>
									<div class="input-group">
                                        <input class="form-control m-input" id="MinInsuranceDateFilter" name="MinInsuranceDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minInsuranceDateFilter">
			                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxInsuranceDateFilter" name="MaxInsuranceDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxInsuranceDateFilter">
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label  for="MinLastHandleDateFilter">{{l("LastHandleDateRange")}}</label>
									<div class="input-group">
                                        <input class="form-control m-input" id="MinLastHandleDateFilter" name="MinLastHandleDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minLastHandleDateFilter">
			                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxLastHandleDateFilter" name="MaxLastHandleDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxLastHandleDateFilter">
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label  for="MinNextHandleDateFilter">{{l("NextHandleDateRange")}}</label>
									<div class="input-group">
                                        <input class="form-control m-input" id="MinNextHandleDateFilter" name="MinNextHandleDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minNextHandleDateFilter">
			                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxNextHandleDateFilter" name="MaxNextHandleDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxNextHandleDateFilter">
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label  for="MinUpdatedFilter">{{l("UpdatedRange")}}</label>
									<div class="input-group">
                                        <input class="form-control m-input" id="MinUpdatedFilter" name="MinUpdatedFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minUpdatedFilter">
			                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxUpdatedFilter" name="MaxUpdatedFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxUpdatedFilter">
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinOperatorIDFilter">{{l("MinMax")}} {{l("OperatorID")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinOperatorIDFilter" [(ngModel)]="minOperatorIDFilter" placeholder="{{l('MinValue')}}" name="minOperatorIDFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxOperatorIDFilter" placeholder="{{l('MaxValue')}}" name="maxOperatorIDFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinIsBusInTripFilter">{{l("MinMax")}} {{l("IsBusInTrip")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinIsBusInTripFilter" [(ngModel)]="minIsBusInTripFilter" placeholder="{{l('MinValue')}}" name="minIsBusInTripFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxIsBusInTripFilter" placeholder="{{l('MaxValue')}}" name="maxIsBusInTripFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label  for="MinIsBusInTripLastUpdatedFilter">{{l("IsBusInTripLastUpdatedRange")}}</label>
									<div class="input-group">
                                        <input class="form-control m-input" id="MinIsBusInTripLastUpdatedFilter" name="MinIsBusInTripLastUpdatedFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minIsBusInTripLastUpdatedFilter">
			                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxIsBusInTripLastUpdatedFilter" name="MaxIsBusInTripLastUpdatedFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxIsBusInTripLastUpdatedFilter">
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="VehiclesTypeTypeDescriptionFilter">({{l("VehiclesType")}}) {{l("TypeDescription")}}</label>
									<input type="text" class="form-control" id="VehiclesTypeTypeDescriptionFilter" name="vehiclesTypeTypeDescriptionFilter" [(ngModel)]="vehiclesTypeTypeDescriptionFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getVehicles($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Vehicles.Edit', 'Pages.Vehicles.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="vehiclesTypeFk.typeDescription">
                                        {{l('TypeDescription')}}
                                        <p-sortIcon field="vehiclesTypeTypeDescription"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="internalID">
                                        {{l('InternalID')}}
                                        <p-sortIcon field="vehicles.internalID"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="vehicleNumber">
                                        {{l('VehicleNumber')}}
                                        <p-sortIcon field="vehicles.vehicleNumber"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="shortVehicleNumber">
                                        {{l('ShortVehicleNumber')}}
                                        <p-sortIcon field="vehicles.shortVehicleNumber"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="vehicleType">
                                        {{l('VehicleType')}}
                                        <p-sortIcon field="vehicles.vehicleType"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="status">
                                        {{l('Status')}}
                                        <p-sortIcon field="vehicles.status"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="statusDate">
                                        {{l('StatusDate')}}
                                        <p-sortIcon field="vehicles.statusDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="parking">
                                        {{l('Parking')}}
                                        <p-sortIcon field="vehicles.parking"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="garage">
                                        {{l('Garage')}}
                                        <p-sortIcon field="vehicles.garage"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="km">
                                        {{l('KM')}}
                                        <p-sortIcon field="vehicles.km"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="testDate">
                                        {{l('TestDate')}}
                                        <p-sortIcon field="vehicles.testDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="insuranceDate">
                                        {{l('InsuranceDate')}}
                                        <p-sortIcon field="vehicles.insuranceDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="lastHandleDate">
                                        {{l('LastHandleDate')}}
                                        <p-sortIcon field="vehicles.lastHandleDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="nextHandleDate">
                                        {{l('NextHandleDate')}}
                                        <p-sortIcon field="vehicles.nextHandleDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="updated">
                                        {{l('Updated')}}
                                        <p-sortIcon field="vehicles.updated"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="operatorID">
                                        {{l('OperatorID')}}
                                        <p-sortIcon field="vehicles.operatorID"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="isBusInTrip">
                                        {{l('IsBusInTrip')}}
                                        <p-sortIcon field="vehicles.isBusInTrip"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="isBusInTripLastUpdated">
                                        {{l('IsBusInTripLastUpdated')}}
                                        <p-sortIcon field="vehicles.isBusInTripLastUpdated"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Vehicles.Edit', 'Pages.Vehicles.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;" 
														(click)="viewVehiclesModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
                                                <a href="javascript:;" *ngIf="permission.isGranted('Pages.Vehicles.Edit')" 
														(click)="createOrEditVehiclesModal.show(record.vehicles.id)">{{l('Edit')}}</a>												
                                                </li>
												<li>
											        <a  href="javascript:;" *ngIf="permission.isGranted('Pages.Vehicles.Delete')"
														(click)="deleteVehicles(record.vehicles)">{{l('Delete')}}</a>
												</li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="entityHistoryEnabled"  
                                                       (click)="showHistory(record.vehicles)">{{l('History')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
												<span class="ui-column-title"> {{l('TypeDescription')}}</span>
												{{record.vehiclesTypeTypeDescription}}
											</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('InternalID')}}</span>
											{{record.vehicles.internalID}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('VehicleNumber')}}</span>
											{{record.vehicles.vehicleNumber}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('ShortVehicleNumber')}}</span>
											{{record.vehicles.shortVehicleNumber}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('VehicleType')}}</span>
											{{record.vehicles.vehicleType}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Status')}}</span>
											{{record.vehicles.status}}
										</td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('StatusDate')}}</span>
                                        <span *ngIf="record.vehicles.statusDate">
											{{record.vehicles.statusDate |  momentFormat:'L' }}
                                        </span>
                                        <span *ngIf="!record.vehicles.statusDate">-</span>
                                    </td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Parking')}}</span>
											{{record.vehicles.parking}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Garage')}}</span>
											{{record.vehicles.garage}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('KM')}}</span>
											{{record.vehicles.km}}
										</td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('TestDate')}}</span>
                                        <span *ngIf="record.vehicles.testDate">
											{{record.vehicles.testDate |  momentFormat:'L' }}
                                        </span>
                                        <span *ngIf="!record.vehicles.testDate">-</span>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('InsuranceDate')}}</span>
                                        <span *ngIf="record.vehicles.insuranceDate">
											{{record.vehicles.insuranceDate |  momentFormat:'L' }}
                                        </span>
                                        <span *ngIf="!record.vehicles.insuranceDate">-</span>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('LastHandleDate')}}</span>
                                        <span *ngIf="record.vehicles.lastHandleDate">
											{{record.vehicles.lastHandleDate |  momentFormat:'L' }}
                                        </span>
                                        <span *ngIf="!record.vehicles.lastHandleDate">-</span>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('NextHandleDate')}}</span>
                                        <span *ngIf="record.vehicles.nextHandleDate">
											{{record.vehicles.nextHandleDate |  momentFormat:'L' }}
                                        </span>
                                        <span *ngIf="!record.vehicles.nextHandleDate">-</span>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('Updated')}}</span>
                                        <span *ngIf="record.vehicles.updated">
											{{record.vehicles.updated |  momentFormat:'L' }}
                                        </span>
                                        <span *ngIf="!record.vehicles.updated">-</span>
                                    </td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('OperatorID')}}</span>
											{{record.vehicles.operatorID}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('IsBusInTrip')}}</span>
											{{record.vehicles.isBusInTrip}}
										</td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('IsBusInTripLastUpdated')}}</span>
                                        <span *ngIf="record.vehicles.isBusInTripLastUpdated">
											{{record.vehicles.isBusInTripLastUpdated |  momentFormat:'L' }}
                                        </span>
                                        <span *ngIf="!record.vehicles.isBusInTripLastUpdated">-</span>
                                    </td>

                                </tr>
                               
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                         #paginator
                                         (onPageChange)="getVehicles($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                         [showCurrentPageReport]="true"
                                         [currentPageReportTemplate]="'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount"    
                            >
                            </p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditVehiclesModal #createOrEditVehiclesModal (modalSave)="getVehicles()"></createOrEditVehiclesModal>    
    <viewVehiclesModal #viewVehiclesModal></viewVehiclesModal>
     <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
  
</div>
