<div [@routerTransition]>
  
  
  
                <div class="kt-subheader kt-grid__item">
                  
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
                            <span>{{l("Shapes")}}</span>
                        </h3>
                        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                        <span class="kt-subheader__desc">
                            {{l("ShapesHeaderInfo")}}
                        </span>
                    </div>
                    <div class="kt-subheader__toolbar">
                        <div class="kt-subheader__wrapper">
            				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.Shapes.Create')" (click)="createShape()" 
            			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewShape")}}</button>
                        </div>
                    </div>
                  
                </div>
            
    
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getShapes()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="kt-separator kt-separator--border-dashed"></div>
						     </div>


                            <div class="col-md-3">
                                <div class="form-group">
									<label for="Minshape_idFilter">{{l("MinMax")}} {{l("shape_id")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="Minshape_idFilter" [(ngModel)]="minshape_idFilter" placeholder="{{l('MinValue')}}" name="minshape_idFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxshape_idFilter" placeholder="{{l('MaxValue')}}" name="maxshape_idFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="Minshape_pt_latFilter">{{l("MinMax")}} {{l("shape_pt_lat")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="Minshape_pt_latFilter" [(ngModel)]="minshape_pt_latFilter" placeholder="{{l('MinValue')}}" name="minshape_pt_latFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxshape_pt_latFilter" placeholder="{{l('MaxValue')}}" name="maxshape_pt_latFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="Minshape_pt_lonFilter">{{l("MinMax")}} {{l("shape_pt_lon")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="Minshape_pt_lonFilter" [(ngModel)]="minshape_pt_lonFilter" placeholder="{{l('MinValue')}}" name="minshape_pt_lonFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxshape_pt_lonFilter" placeholder="{{l('MaxValue')}}" name="maxshape_pt_lonFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="Minshape_pt_sequenceFilter">{{l("MinMax")}} {{l("shape_pt_sequence")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="Minshape_pt_sequenceFilter" [(ngModel)]="minshape_pt_sequenceFilter" placeholder="{{l('MinValue')}}" name="minshape_pt_sequenceFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxshape_pt_sequenceFilter" placeholder="{{l('MaxValue')}}" name="maxshape_pt_sequenceFilter" />
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="RouteRouteIDGTFSFilter">({{l("Route")}}) {{l("RouteIDGTFS")}}</label>
									<input type="text" class="form-control" id="RouteRouteIDGTFSFilter" name="routeRouteIDGTFSFilter" [(ngModel)]="routeRouteIDGTFSFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getShapes($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Shapes.Edit', 'Pages.Shapes.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="routeFk.routeIDGTFS">
                                        {{l('RouteIDGTFS')}}
                                        <p-sortIcon field="routeRouteIDGTFS"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="shape_id">
                                        {{l('shape_id')}}
                                        <p-sortIcon field="shape.shape_id"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="shape_pt_lat">
                                        {{l('shape_pt_lat')}}
                                        <p-sortIcon field="shape.shape_pt_lat"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="shape_pt_lon">
                                        {{l('shape_pt_lon')}}
                                        <p-sortIcon field="shape.shape_pt_lon"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="shape_pt_sequence">
                                        {{l('shape_pt_sequence')}}
                                        <p-sortIcon field="shape.shape_pt_sequence"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Shapes.Edit', 'Pages.Shapes.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;" 
														(click)="viewShapeModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
                                                <a href="javascript:;" *ngIf="permission.isGranted('Pages.Shapes.Edit')" 
														(click)="createOrEditShapeModal.show(record.shape.id)">{{l('Edit')}}</a>												
                                                </li>
												<li>
											        <a  href="javascript:;" *ngIf="permission.isGranted('Pages.Shapes.Delete')"
														(click)="deleteShape(record.shape)">{{l('Delete')}}</a>
												</li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="entityHistoryEnabled"  
                                                       (click)="showHistory(record.shape)">{{l('History')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
												<span class="ui-column-title"> {{l('RouteIDGTFS')}}</span>
												{{record.routeRouteIDGTFS}}
											</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('shape_id')}}</span>
											{{record.shape.shape_id}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('shape_pt_lat')}}</span>
											{{record.shape.shape_pt_lat}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('shape_pt_lon')}}</span>
											{{record.shape.shape_pt_lon}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('shape_pt_sequence')}}</span>
											{{record.shape.shape_pt_sequence}}
										</td>

                                </tr>
                               
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                         #paginator
                                         (onPageChange)="getShapes($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                         [showCurrentPageReport]="true"
                                         [currentPageReportTemplate]="'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount"    
                            >
                            </p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditShapeModal #createOrEditShapeModal (modalSave)="getShapes()"></createOrEditShapeModal>    
    <viewShapeModal #viewShapeModal></viewShapeModal>
     <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
  
</div>
